# shellcheck shell=sh disable=2034
# vim:filetype=sh

export EARTHLY_REMOTE_CACHE=ghcr.io/nalabelle/cleaner:cache


export RUST_LOG=trace
export LLVM_PROFILE_FILE=.llvm-profile/default_%m_%p.profraw

mkdir -p .llvm-profile
watch_file devshell.toml
watch_file Cargo.toml
use flake
