#export EARTHLY_REMOTE_CACHE=ghcr.io/nalabelle/cleaner:cache

export CARGO_HOME="$(pwd)/.cargo"
export RUSTUP_HOME="$(pwd)/.rustup"
export RUST_LOG=trace
export RUSTFLAGS="-C instrument-coverage=all"
export LLVM_PROFILE_FILE=.llvm-profile/default_%m_%p.profraw

mkdir -p .llvm-profile
mkdir -p "$RUSTUP_HOME"
mkdir -p "$CARGO_HOME"

# Automatically sets up your devbox environment whenever you cd into this
# directory via our direnv integration:

eval "$(devbox generate direnv --print-envrc)"

# check out https://www.jetpack.io/devbox/docs/ide_configuration/direnv/
# for more details
